<html>
	<head>
		<title>BEM VINDO A PARADIS, O LAR DOS ELDIANOS</title>
		    
		  <body>
			  <h1>BEM VINDO A PARADIS, LAR DO POVO DE ELDIA</h1>
			  <h2>ESTE EH O MEU IP, MARLENIANO: {{ansible_facts.eth0.ipv4.address}} </h2>
			 
                 </body>

	</head>
</html>
